appnope @ file:///Users/ec2-user/buildout/croot/appnope_1759953166014/work
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135856585/work
audioop-lts==0.2.2
audioread==3.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
comm @ file:///Users/ec2-user/buildout/croot/comm_1763763170912/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421637378/work
decorator @ file:///Users/ec2-user/buildout/croot/decorator_1759952744985/work
executing @ file:///Users/ec2-user/buildout/croot/executing_1761950542723/work
filelock==3.25.2
fsspec==2026.2.0
idna==3.11
ipykernel @ file:///Users/ec2-user/croot/ipykernel_1772612352053/work
ipython @ file:///Users/ec2-user/croot/ipython_1773996069639/work
ipython_pygments_lexers @ file:///Users/ec2-user/buildout/croot/ipython_pygments_lexers_1759952775363/work
jedi @ file:///Users/ec2-user/buildout/croot/jedi_1759952789032/work
Jinja2==3.1.6
joblib==1.5.3
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1768399006150/work
jupyter_core @ file:///Users/ec2-user/buildout/croot/jupyter_core_1765380151887/work
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.46.0
MarkupSafe==3.0.3
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779167424/work
mpmath==1.3.0
msgpack==1.1.2
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==3.6.1
numba==0.64.0
numpy==2.4.3
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079068/work
parso @ file:///opt/miniconda3/conda-bld/parso_1762781702477/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936044/work
pillow==12.1.1
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975658/work
pooch==1.9.0
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744861210/work
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896325336/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///Users/ec2-user/buildout/croot/pure_eval_1759952573602/work
pycparser==3.0
Pygments @ file:///Users/ec2-user/buildout/croot/pygments_1763762315285/work
python-dateutil @ file:///Users/ec2-user/buildout/croot/python-dateutil_1759952060416/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375615819/work
requests==2.33.0
scikit-learn==1.8.0
scipy==1.17.1
setuptools==80.10.2
six @ file:///Users/ec2-user/buildout/croot/six_1759951952559/work
soundfile==0.13.1
soxr==1.0.0
stack_data @ file:///Users/ec2-user/buildout/croot/stack_data_1759953041043/work
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.11.0
torchvision==0.26.0
tornado @ file:///Users/ec2-user/croot/tornado_1774303637024/work
traitlets @ file:///Users/ec2-user/buildout/croot/traitlets_1759951967871/work
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1767780857869/work
wheel==0.46.3
